.index.html{
    background-color: white;
}
.blue.html{
    background-color: blue;
}
.red.html{
    background-color: red;
}
.green.html{
    background-color: green;
}
.purple.html{
    background-color: purple;
}
.yellow.html{
    background-color: yellow;
}
.orange.html{
    background-color: orange;
}